@charset "utf-8";

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, select {margin:0;padding:0;box-sizing: border-box;-webkit-text-size-adjust:none;text-size-adjust:none;/*阻止旋转屏幕时自动调整字体大小*/}
html{height:100%;}
body{color:#707070;font-family:微软雅黑,'Heiti SC',黑体,Arial;font-size:0.875em}
ol,ul,li{list-style:none outside none;}
a{text-decoration:none;color:inherit;}
img{border:none;vertical-align:middle;max-width:100%;max-height:100%}
table{border-collapse:collapse;}
tr,td,th{padding:0;margin:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;color:#474747;line-height:120%;}
input,textarea,select,button{border:1px solid #CCC;font-family:微软雅黑,'Heiti SC',黑体,Arial;padding:0;margin:0;}

@media screen and (min-width:640px){
	body,html,#loading{width:640px}
	header{width:640px;}
}
@media screen and (max-width:320px){
	body,html,#loading{width:320px}
	header{width:320px;}
}
/*
.p1{background:#F00;}*/

/*从上到下 开始*/
.p1-1{}
.p1.active .p1-1{
	-webkit-animation:fadeInDown 2s ease-in-out 0.5s both;
	-moz-animation:fadeInDown 2s ease-in-out 0.5s both;
	-ms-animation:fadeInDown 2s ease-in-out 0.5s both;
	animation:fadeInDown 2s ease-in-out 0.5s both;
}
/*从上到下 结束*/

/*从下到上 */
.p1-2{margin:0 auto;width:80%; padding:20px 0; text-align:center;opacity:0;top:100px;color:#FFF;padding-top:20px;font-size:1.2em; border-bottom:1px #fff solid;}
.p1-2{
	-webkit-animation:fadeInUp 1s ease 0.8s both;
	-moz-animation:fadeInUp 1s ease 0.8s both;
	-ms-animation:fadeInUp 1s ease 0.8s both;
	animation:fadeInUp 1s ease 0.8s both;	
}
/*从下到上 */


/*从中间向两边伸展 */
.p1-3{}
.p1.active .p1-3{
	-webkit-animation:zoomIn 1s ease 1s both;
	-moz-animation:zoomIn 1s ease 1s both;
	-ms-animation:zoomIn 1s ease 1s both;
	animation:zoomIn 1s ease 1s both;	
}
/*从中间向两边伸展 */


/*.p2{background:#E00;}*/

.p2-div1{position:absolute;width:100%;height:200px;left:0;top:0;}

/* 以下 animation 的动画都是简写-------------------- */

/*从小到大*/
.p2-1{height:auto;position:absolute;left:50%;width:80px;top:96px;margin-left:-40px;top:60px;}

.p2.active .p2-1{
	-webkit-animation:zoomIn 2s linear both;
	-moz-animation:zoomIn 2s linear both;
	-o-animation:zoomIn 2s linear both;
	animation:zoomIn 2s linear both
}
/*从小到大*/

/*循环旋转*/
.p2-2{width:140px;height:140px;position:absolute;top:36px;left:50%;margin-left:-70px}

.p2.active .p2-2{
	-webkit-animation:rotateIn 10s linear infinite;
	-moz-animation:rotateIn 10s linear infinite;
	-o-animation:rotateIn 10s linear infinite;
	animation:rotateIn 10s linear infinite;
}
/*循环旋转*/

/*  .p2-div2 从下到上 */
.p2-div2{width:100%;height:60px;text-align:center;opacity:0;color:#FFF;font-size:1.2em;padding:10px 20px;text-align:center;position:absolute;left:0;top:190px}
.p2.active .p2-div2{
	-webkit-animation:fadeInUp 2s ease-in-out 0.5s both;
	-moz-animation:fadeInUp 2s ease-in-out 0.5s both;
	-o-animation:fadeInUp 2s ease-in-out 0.5s both;
	animation:fadeInUp 2s ease-in-out 0.5s both;
	
}
/*  .p2_div2 从下到上 */
/*  .p2-div3 从下到上 */
.p2-div3{width:100%;color:#FFF;font-size:1.2em;padding:10px 20px;position:absolute;left:0;top:250px}
.p2.active .p2-div3{
	-webkit-animation:fadeInUp 2s ease-in-out 1s both;
	-moz-animation:fadeInUp 2s ease-in-out 1s both;
	-o-animation:fadeInUp 2s ease-in-out 1s both;
	animation:fadeInUp 2s ease-in-out 1s both;
	
}
/*  .p2_div3 从下到上 */



/*P3*/

/*.p3{background:#000}*/

/*p3-1*/
.p3-1{width:90%;height:64px;position:absolute;top:25px;left:5%;z-index:2}
.p3-1 p{color:#FFF; font-size:20px;}
.p3.active .p3-1{
	-webkit-animation:fadeInLeft 1s ease 0 both;
	-moz-animation:fadeInLeft 1s ease 0 both;
	-o-animation:fadeInLeft 1s ease 0 both;
	animation:fadeInLeft 1s ease 0 both;
}

/*p3-2*/
.p3-2{width:90%;height:24px;position:absolute;top:89px;left:5%;z-index:3;background:url(../images/yq.png) no-repeat center center}
.p3.active .p3-2{
	-webkit-animation:fadeInLeft 1s ease 0.4s both;
	-moz-animation:fadeInLeft 1s ease 0.4s both;
	-o-animation:fadeInLeft 1s ease 0.4s both;
	animation:fadeInLeft 1s ease 0.4s both;
}

/*p3-3*/
.p3-3{width:90%;height:153px;position:absolute;top:123px;left:5%;z-index:4;}
.p3-3 img{width:100%;}
.p3.active .p3-3{
	-webkit-animation:fadeInLeft 1s ease 0.6s both;
	-moz-animation:fadeInLeft 1s ease 0.6s both;
	-o-animation:fadeInLeft 1s ease 0.6s both;
	animation:fadeInLeft 1s ease 0.6s both;
}


/*p3-4*/
.p3-4{width:48px;height:48px;position:absolute;top:174px;left:50%;margin-left:-24px;z-index:5}
.p3-4 .video_box{ display:block;width:48px;height:48px}
.p3-4 a.video_area{ background:url(../images/play.png) no-repeat; display:block; width:100%; height:100%;}
/*logo从小到大*/
.p3.active .p3-4 .video_box{
	-webkit-animation:zoomIn 2s ease-in-out both;
	-moz-animation:zoomIn 2s ease-in-out both;
	-o-animation:zoomIn 2s ease-in-out both;
	animation:zoomIn 2s ease-in-out both;
}
/*logo从小到大*/

.p3.active .p3-4{
	-webkit-animation:rotateIn 2s ease-in-out 2s both;
	-moz-animation:rotateIn 2s ease-in-out 2s both;
	-o-animation:rotateIn 2s ease-in-out 2s both;
	animation:rotateIn 2s ease-in-out 2s both;
}

/*p3-5*/
.p3-5{width:90%;height:177px;position:absolute;top:300px;left:5%;z-index:6}
.p3-5 font{ color:#fff;}
.p3.active .p3-5{
	-webkit-animation:fadeInUp 2s ease-in-out 0.5s both;
	-moz-animation:fadeInUp 2s ease-in-out 0.5s both;
	-o-animation:fadeInUp 2s ease-in-out 0.5s both;
	animation:fadeInUp 2s ease-in-out 0.5s both;
}



/*p4*/
.p4-1{width:90%;height:auto;position:absolute;bottom:20%;left:5%;z-index:6;background:rgba(0,0,0,0.8);padding:10px 4%;}
.p4-1 p{ color:#fff; font-size:18px; line-height:25px;}
.p4.active .p4-1{
	-webkit-animation:fadeInUp 1.5s ease-in-out 0.5s both;
	-moz-animation:fadeInUp 1.5s ease-in-out 0.5s both;
	-o-animation:fadeInUp 1.5s ease-in-out 0.5s both;
	animation:fadeInUp 1.5s ease-in-out 0.5s both;
}



/*p5*/
.p5{ background:url(../images/41.jpg) no-repeat;}
/*p5-1*/
.p5-1{width:100%;height:auto;position:absolute;top:150px;left:0;opacity:0;z-index:2; background:rgba(255,255,255,0.8);padding:10px 4%;}
.p5-1 p{ color:#B41952; font-size:24px; line-height:32px;}
.p5.active .p5-1{
	-webkit-animation:fadeInLeft 1.5s ease-in-out 0.5s both;
	-moz-animation:fadeInLeft 1.5s ease-in-out 0.5s both;
	-o-animation:fadeInLeft 1.5s ease-in-out 0.5s both;
	animation:fadeInLeft 1.5s ease-in-out 0.5s both;
}


/*p5-2*/
.p5-2{width:100%;height:150px;position:absolute;top:0;left:0;opacity:0;z-index:3;background:rgba(50,50,50,0.8);padding:15px 4%;}
.p5-2 p{ color:#fff; font-size:18px; line-height:28px;}
.p5.active .p5-2{
	-webkit-animation:fadeInRight 1.5s ease-in-out 0.5s both;
	-moz-animation:fadeInRight 1.5s ease-in-out 0.5s both;
	-o-animation:fadeInRight 1.5s ease-in-out 0.5s both;
	animation:fadeInRight 1.5s ease-in-out 0.5s both;
}




.p6{background:#A00}

/*logo从小到大*/
.p6-div1{width:108px;height:53px;position:absolute;top:50px;left:50%;margin-left:-54px}
.p6-div1 img{width:100%;height:53px;}
.p6.active .p6-div1{
	-webkit-animation:zoomIn 0.6s ease 0.2s both;
	-moz-animation:zoomIn 0.6s ease 0.2s both;
	-o-animation:zoomIn 0.6s ease 0.2s both;
	animation:zoomIn 0.6s ease 0.2s both;
}
/*logo从小到大*/


/*淡入*/


.p1.active .p1-1{
	-webkit-animation:fadeIn 1s ease 0.4s both;
	-moz-animation:fadeIn 1s ease 0.4s both;
	-o-animation:fadeIn 1s ease 0.4s both;
	animation:fadeIn 1s ease 0.4s both;
}
/*淡入*/

/* 带有弹性的左侧飞入*/
.p6-div3,.p6-div4,.p6-div5,.p6-div6,.p6-div7,.p6-div8{text-align:center;line-height:30px;position:absolute;width:70%;top:200px;background-color:#FFF;left:15%}
.p6-div3{top:200px}
.p6-div4{top:250px}
.p6-div5{top:300px}
.p6-div6{top:350px}
.p6-div7{top:400px}
.p6-div8{top:450px}


.p6.active .p6-div3{
	-webkit-animation:bounceInLeft 1s ease 0.4s both;
	-moz-animation:bounceInLeft 1s ease 0.4s both;
	-o-animation:bounceInLeft 1s ease 0.4s both;
	animation:bounceInLeft 1s ease 0.4s both;
}
.p6.active .p6-div4{
	-webkit-animation:bounceInLeft 1s ease 0.6s both;
	-moz-animation:bounceInLeft 1s ease 0.6s both;
	-o-animation:bounceInLeft 1s ease 0.6s both;
	animation:bounceInLeft 1s ease 0.6s both;
}
.p6.active .p6-div5{
	-webkit-animation:bounceInLeft 1s ease 0.8s both;
	-moz-animation:bounceInLeft 1s ease 0.8s both;
	-o-animation:bounceInLeft 1s ease 0.8s both;
	animation:bounceInLeft 1s ease 0.8s both;
}
.p6.active .p6-div6{
	-webkit-animation:bounceInLeft 1s ease 1s both;
	-moz-animation:bounceInLeft 1s ease 1s both;
	-o-animation:bounceInLeft 1s ease 1s both;
	animation:bounceInLeft 1s ease 1s both;
}
.p6.active .p6-div7{
	-webkit-animation:bounceInLeft 1s ease 1.2s both;
	-moz-animation:bounceInLeft 1s ease 1.2s both;
	-o-animation:bounceInLeft 1s ease 1.2s both;
	animation:bounceInLeft 1s ease 1.2s both;
}
.p6.active .p6-div8{
	-webkit-animation:bounceInLeft 1s ease 1.4s both;
	-moz-animation:bounceInLeft 1s ease 1.4s both;
	-o-animation:bounceInLeft 1s ease 1.4s both;
	animation:bounceInLeft 1s ease 1.4s both;
}
/* 带有弹性的左侧飞入*/



.p7{background:#FDD2DC}


/*向下滑动*/
.p7-div1{position:absolute;width:70%;left:15%;height:100px;color:#F00;top:50px}
.p7-div1 img{width:100%;}
.p7.active .p7-div1{
	-webkit-animation:fadeInDown 1s ease 0.4s both;
	-moz-animation:fadeInDown 1s ease 0.4s both;
	-o-animation:fadeInDown 1s ease 0.4s both;
	animation:fadeInDown 1s ease 0.4s both;
}
/*向下滑动*/

/*向上滑动*/
.p7-div2{position:absolute;width:70%;left:15%;color:#F00;top:160px}
.p7-div2 img{width:100%;}
.p7.active .p7-div2{
	-webkit-animation:fadeInUp 1s ease 0.4s both;
	-moz-animation:fadeInUp 1s ease 0.4s both;
	-o-animation:fadeInUp 1s ease 0.4s both;
	animation:fadeInUp 1s ease 0.4s both;
}
/*向上滑动*/

/*向上滑动*/
.p7-div3{position:absolute;width:70%;left:15%;bottom:0;}
.p7-div3 img{width:100%;}
.p7.active .p7-div3{
	-webkit-animation:fadeInUp 2s ease 0.4s both;
	-moz-animation:fadeInUp 2s ease 0.4s both;
	-o-animation:fadeInUp 2s ease 0.4s both;
	animation:fadeInUp 2s ease 0.4s both;
}
/*向上滑动*/

/*从小到大 */
.p7-div4{position:absolute;width:70%;left:15%;bottom:10%}
.p7-ul1{width:100%;height:80px}
.p7-ul1 li{position:absolute;width:45%;height:36px;}
.p7-ul1 .p7ul_li1{left:0;top:0;}
.p7-ul1 .p7ul_li2{right:0;top:0;}
.p7-ul1 .p7ul_li3{left:0;bottom:0;}
.p7-ul1 .p7ul_li4{right:0;bottom:0;}
.p7 .p7-ul1 li span{display:block;position:absolute;height:36px;background-color:rgba(240, 129, 162, 1);text-align:center;line-height:36px;color:#FFF;opacity:1;width:100%;font-size:1em}
.p7.active .p7-ul1 .p7ul_li1 span{
	-webkit-animation:zoomIn 1s ease 1.4s both;
	-moz-animation:zoomIn 1s ease 1.4s both;
	-o-animation:zoomIn 1s ease 1.4s both;
	animation:zoomIn 1s ease 1.4s both;
}

.p7.active .p7-ul1 .p7ul_li2 span{
	-webkit-animation:zoomIn 1s ease 1.6s both;
	-moz-animation:zoomIn 1s ease 1.6s both;
	-o-animation:zoomIn 1s ease 1.6s both;
	animation:zoomIn 1s ease 1.6s both;
}
.p7.active .p7-ul1 .p7ul_li3 span{
	-webkit-animation:zoomIn 1s ease 1.8s both;
	-moz-animation:zoomIn 1s ease 1.8s both;
	-o-animation:zoomIn 1s ease 1.8s both;
	animation:zoomIn 1s ease 1.8s both;
}
.p7.active .p7-ul1 .p7ul_li4 span{
	-webkit-animation:zoomIn 1s ease 2s both;
	-moz-animation:zoomIn 1s ease 2s both;
	-o-animation:zoomIn 1s ease 2s both;
	animation:zoomIn 1s ease 2s both;
}

/*从小到大 */


.p8{background:#800}

/*从上倒下*/
.p8 .p8-div1{width:80%;height:auto;position:absolute;left:10%;color:#FFF;font-size:1.6em;opacity:1;top:60px;}
.p8.active .p8-div1{
	-webkit-animation:fadeInDown 2s ease 0.4s both;
	-moz-animation:fadeInDown 2s ease 0.4s both;
	-o-animation:fadeInDown 2s ease 0.4s both;
	animation:fadeInDown 2s ease 0.4s both;
}
/*从上倒下*/

/*从左到右 和从右到左 同时进行*/
.p8-div2,.p8-div3,.p8-div4{width:86%;height:100px;position:absolute;left:7%}
.p8-div2{top:120px}
.p8-div3{top:240px}
.p8-div4{top:360px}
.p8-divL{width:100px;height:100px;position:absolute;left:0;top:0;background-color:#FFF;text-align:center;}
.p8-divR{height:100px;position:absolute;left:102px;top:0;background-color:#FFF;padding:10px 0 10px 5%;line-height:25px}

.p8.active .p8-div2 .p8-divL{
	-webkit-animation:fadeInLeft 1s ease 0.6s both;
	-moz-animation:fadeInLeft 1s ease 0.6s both;
	-o-animation:fadeInLeft 1s ease 0.6s both;
	animation:fadeInLeft 1s ease 0.6s both;
}
.p8.active .p8-div2 .p8-divR{
	-webkit-animation:fadeInRight 1s ease 0.6s both;
	-moz-animation:fadeInRight 1s ease 0.6s both;
	-o-animation:fadeInRight 1s ease 0.6s both;
	animation:fadeInRight 1s ease 0.6s both;
}
.p8.active .p8-div3 .p8-divL{
	-webkit-animation:fadeInLeft 1s ease 1s both;
	-moz-animation:fadeInLeft 1s ease 1s both;
	-o-animation:fadeInLeft 1s ease 1s both;
	animation:fadeInLeft 1s ease 1s both;
}
.p8.active .p8-div3 .p8-divR{
	-webkit-animation:fadeInRight 1s ease 1s both;
	-moz-animation:fadeInRight 1s ease 1s both;
	-o-animation:fadeInRight 1s ease 1s both;
	animation:fadeInRight 1s ease 1s both;
}
.p8.active .p8-div4 .p8-divL{
	-webkit-animation:fadeInLeft 1s ease 1.4s both;
	-moz-animation:fadeInLeft 1s ease 1.4s both;
	-o-animation:fadeInLeft 1s ease 1.4s both;
	animation:fadeInLeft 1s ease 1.4s both;
}
.p8.active .p8-div4 .p8-divR{
	-webkit-animation:fadeInRight 1s ease 1.4s both;
	-moz-animation:fadeInRight 1s ease 1.4s both;
	-o-animation:fadeInRight 1s ease 1.4s both;
	animation:fadeInRight 1s ease 1.4s both;
}
/*从左到右 和从右到左 同时进行*/


.p9{background:#700}
.p9 .p9-div1{width:88%;height:50px;position:absolute;top:30px;left:6%;color:#FFF;font-size:1.2em;}
.p9 .p9-div2{width:88%;height:24px;position:absolute;top:60px;left:6%;background:url(../images/yq.png) no-repeat center center}
.p9 .p9-div2 img{width:100%;height:auto;}
.p9.active .p9-div1{
	-webkit-animation:fadeInLeft 1s ease 0.4s both;
	-moz-animation:fadeInLeft 1s ease 0.4s both;
	-o-animation:fadeInLeft 1s ease 0.4s both;
	animation:fadeInLeft 1s ease 0.4s both;

}
.p9.active .p9-div2{
	-webkit-animation:fadeInLeft 1s ease 1s both;
	-moz-animation:fadeInLeft 1s ease 1s both;
	-o-animation:fadeInLeft 1s ease 1s both;
	animation:fadeInLeft 1s ease 1s both;
}
.p9 .p9-div3{width:88%;height:156px;position:absolute;left:-50%;top:84px;left:6%;}
.p9 .p9-div3 img{width:100%;}
.p9.active .p9-div3{
	-webkit-animation:fadeInLeft 1s ease 1s both;
	-moz-animation:fadeInLeft 1s ease 1s both;
	-o-animation:fadeInLeft 1s ease 1s both;
	animation:fadeInLeft 1s ease 1s both;
}
.Laction{position:absolute;right:40px;top:40px;width:50px;height:50px;opacity:1;border-radius:50%;z-index:50;background-color:rgba(54, 166, 17, 0.6);}

/*由小到大，消失，在由小到大*/
.p9.active .p9-div3 .Laction{
	-webkit-animation:zoomIn 1.5s linear 0 infinite;
	animation:zoomIn 1.5s linear 0 infinite;
	/*定义动画方式 、动画播放在第偶数次向前播放，第奇数次向反方向播放 |alternate| 如果设置为normal时，动画的每次循环都是向前播放 */
}

/*由小到大，消失，在由小到大*/

/*从左到右 和从右到左 同时进行*/
.p9-div4,.p9-div5,.p9-div6{width:88%;height:50px;position:absolute;left:6%}
.p9-div4{top:256px}
.p9-div5{top:316px}
.p9-div6{top:376px}
.p9-divL{width:50px;height:50px;position:absolute;left:0;top:0;background-color:#36A611;text-align:center;}
.p9-divR{height:50px;position:absolute;left:51px;top:0;background-color:#36A611;padding:0 3%;line-height:25px;color:#FFF}

.p9.active .p9-div4 .p9-divL{
	-webkit-animation:fadeInLeft 1s ease 0.6s both;
	-moz-animation:fadeInLeft 1s ease 0.6s both;
	-o-animation:fadeInLeft 1s ease 0.6s both;
	animation:fadeInLeft 1s ease 0.6s both;
}
.p9.active .p9-div4 .p9-divR{
	-webkit-animation:fadeInRight 1s ease 0.6s both;
	-moz-animation:fadeInRight 1s ease 0.6s both;
	-o-animation:fadeInRight 1s ease 0.6s both;
	animation:fadeInRight 1s ease 0.6s both;
}
.p9.active .p9-div5 .p9-divL{
	-webkit-animation:fadeInLeft 1s ease 1s both;
	-moz-animation:fadeInLeft 1s ease 1s both;
	-o-animation:fadeInLeft 1s ease 1s both;
	animation:fadeInLeft 1s ease 1s both;
}
.p9.active .p9-div5 .p9-divR{
	-webkit-animation:fadeInRight 1s ease 1s both;
	-moz-animation:fadeInRight 1s ease 1s both;
	-o-animation:fadeInRight 1s ease 1s both;
	animation:fadeInRight 1s ease 1s both;
}
.p9.active .p9-div6 .p9-divL{
	-webkit-animation:fadeInLeft 1s ease 1.4s both;
	-moz-animation:fadeInLeft 1s ease 1.4s both;
	-o-animation:fadeInLeft 1s ease 1.4s both;
	animation:fadeInLeft 1s ease 1.4s both;
}
.p9.active .p9-div6 .p9-divR{
	-webkit-animation:fadeInRight 1s ease 1.4s both;
	-moz-animation:fadeInRight 1s ease 1.4s both;
	-o-animation:fadeInRight 1s ease 1.4s both;
	animation:fadeInRight 1s ease 1.4s both;
}
/*从左到右 和从右到左 同时进行*/




.p10{background:#600}

.p10-div1{width:80%;position:absolute;top:0;left:10%;height:130px;border-bottom:1px solid #FFF}
.p10-div1 h2{text-align:center;color:#FFF;line-height:130px;font-size:2em}

.p10-div2{width:142px;height:142px;position:absolute;top:180px;left:50%;margin-left:-71px;border-radius:10px;overflow:hidden}

.p10-div3 p span{color:#23a3d3}

.p10-div3{color:#FFF;width:100%;position:absolute;left:0;bottom:50px;opacity:0;color:#FFF;text-align:center;}
.p10.active .p10-div3{
	-webkit-animation:fadeInUp 2s ease 0.4s both;
	-moz-animation:fadeInUp 2s ease 0.4s both;
	-o-animation:fadeInUp 2s ease 0.4s both;
	animation:fadeInUp 2s ease 0.4s both;
}

.p11{background-color:#E5D5B1}

.p11-div1,.p11-div2,.p11-div3{position:absolute;padding:5px;box-shadow:3px 1px 3px rgba(0,0,0,0.2);width:52%;height:auto;background-color:#FFF}

.p11-div1{right:30px;top:50px;}
.p11-div2{left:30px;top:150px;}
.p11-div3{right:30px;top:250px;}

/*由上到下*/
.p11.active .p11-div1{
	-webkit-animation:fadeInDown 1s ease 0.2s both;
	-moz-animation:fadeInDown 1s ease 0.2s both;
	-o-animation:fadeInDown 1s ease 0.2s both;
	animation:fadeInDown 1s ease 0.2s both;
}
/*由上到下*/

/*由小到大*/
.p11.active .p11-div2{
	-webkit-animation:zoomIn 1s ease 0.3s both;
	-moz-animation:zoomIn 1s ease 0.3s both;
	-o-animation:zoomIn 1s ease 0.3s both;
	animation:zoomIn 1s ease 0.3s both;
}
/*由小到大*/

/*由右到左*/
.p11.active .p11-div3{
	-webkit-animation:fadeInRight 1s ease 0.4s both;
	-moz-animation:fadeInRight 1s ease 0.4s both;
	-o-animation:fadeInRight 1s ease 0.4s both;
	animation:fadeInRight 1s ease 0.4s both;
}
/*由右到左*/

/*由下到上*/
.p11-div4{color:#FFF;width:100%;position:absolute;left:0;bottom:30px;text-align:center;font-size:2em}
.p11.active .p11-div4{
	-webkit-animation:zoomIn 1s ease 0.3s both;
	-moz-animation:zoomIn 1s ease 0.3s both;
	-o-animation:zoomIn 1s ease 0.3s both;
	animation:zoomIn 1s ease 0.3s both;
}
/*由下到上*/


/*加载动画*/
#loading{width:100%;height:100%;position:absolute;top:0;left:0;z-index:10000;background-color:#FFF;}
.BlueLogo{padding:120px 0 80px;margin:0 auto;text-align:center;width:100%;height:auto;}
.loadtext{text-align:center;line-height:2em;font-size:2em}
.loadnumber{text-align:center;line-height:2em;font-size:2em}
.Load{width:80%;margin:0 auto}
.loading{width:0;background:#ED0015 url(../images/Loadbg.png) top left no-repeat;overflow:hidden;height:20px;border:2px solid #ED0015;border-radius:10px;}
/*加载动画*/


/*音乐*/
audio{display:inline;float:left}
.music{width:40px;height:40px;text-align:center;background:url(../images/off.png);background-size:100%;position:fixed;z-index:1000;bottom:30px;right:30px;z-index:100}
.music-off{background:url(../images/on.png);background-size:100%}
.music-ani{
    animation:musicRound 1s infinite linear;
    -webkit-animation:musicRound 1s infinite linear
}

@keyframes musicRound{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}
@-webkit-keyframes musicRound{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
}
/*音乐*/

.section{background-size:100% auto;background-position:center center}